<section class="beauty">
  <div class="beuty__wrap container">
    <div class="beauty__info--wrap">
      <h2 class="beauty__title">Beautify Your Space</h2>
      <p class="beauty__text">
        Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <a class="beauty__link" href="#">Learn More</a>
    </div>
    <div class="beauty__img--wrap">
      <img class="beauty__img" src="./images/beauty.png" alt="photo" />
      <img class="beauty__img2" src="./images/elips.jpg" alt="photo" />
    </div>
  </div>
</section>
