<section class="collection">
  <div class="collection__wrap container">
    <h2 class="collection__title">Inspiration Collection</h2>
    <p class="collection__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
    </p>
    <div class="collection__photo--wrap">
      <img class="collection__photo" src="./images/col1.jpg" alt="photo1" />
      <img
        class="collection__photo photo-up"
        src="./images/col2.jpg"
        alt="photo2"
      />
      <img class="collection__photo" src="./images/col3.jpg" alt="photo3" />
    </div>
  </div>
</section>
