<section class="footer">
  <div class="footer__section container">
    <div class="footer__text--wrap">
      <h3 class="footer__title">Beauty Care</h3>
      <p class="text">
        Do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
        ad minim veniam, quis nostrud exercitation ullamco laboris.
      </p>
      <h4 class="footer__title--two">Follow Us</h4>
    </div>
    <div class="footer__img--wrap">
      <h3 class="footer__img--title">Instagram Shop</h3>
      <div class="footer__photo--contain">
        <img class="footer__photo" src="./images/IG-1.jpg" alt="photo1" />
        <img class="footer__photo" src="./images/IG-2.jpg" alt="photo2" />
        <img class="footer__photo" src="./images/IG-3.jpg" alt="photo3" />
        <img class="footer__photo" src="./images/IG-4.jpg" alt="photo3" />
      </div>
    </div>
  </div>
</section>
