<header class="header">
  <div class="header__wrap container">
    <div class="header__logo--wrap">
      <a class="header__logo" href="./index.html">Furniture</a>
    </div>
    <nav class="header__nav">
      <ul class="header__nav--list">
        <li class="header__nav--item">
          <a class="header__nav--link" href="#">Home</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#">Services</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#">Doctors</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#">Products</a>
        </li>
        <li class="header__nav--item">
          <a class="header__nav--link" href="#">Gallery</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
