<section class="hero">
  <div class="hero__wrapper">
    <div class="hero__window--wrap container">
      <p class="hero__window--pretext">New Arrival</p>
      <h1 class="hero__window--title">Discover Our </br>New Collection</h1>
      <p class="hero__window--text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut elit tellus, luctus nec ullamcorper mattis.</p>
      <a class="hero__window--link" href="#">BUY Now</a>
    </div>
  </div>
    <div class="hero__icons--wrapper container">
      <div class="hero__icons">
        <img class="hero__icon" src="./images/car.svg" alt="car">
        <div class="text-wrap">
        <h3 class="hero__icons--title">Free Delivery</h3>
        <p class="hero__icons--text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
     <div class="hero__icons">
        <img class="hero__icon" src="./images/clock.svg" alt="clock">
        <div class="text-wrap">
        <h3 class="hero__icons--title">Free Delivery</h3>
        <p class="hero__icons--text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
     <div class="hero__icons">
        <img class="hero__icon" src="./images/schit.svg" alt="schit">
          <div class="text-wrap">
        <h3 class="hero__icons--title">Free Delivery</h3>
        <p class="hero__icons--text">Lorem ipsum dolor sit amet.</p>
        </div>
    </div>
    </div>
</section>
