<section class="how-it">
  <div class="how__wrap container">
    <div class="range__info--wrap">
      <h2 class="how__title">How It Works</h2>
      <p class="how__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="how--wrap">
      <div class="how__photo__wrap">
        <img class="how__photo" src="./images/h1.jpg" alt="photo1" />
        <img class="how__photo2" src="./images/1.jpg" alt="photo3" />
        <h4 class="how__photo--title">Purchase Securely</h4>
        <p class="how__photo--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="how__photo__wrap">
        <img class="how__photo" src="./images/h2.jpg" alt="photo2" />
        <img class="how__photo2" src="./images/2.jpg" alt="photo3" />
        <h4 class="how__photo--title">Ships From Warehouse</h4>
        <p class="how__photo--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
      <div class="how__photo__wrap">
        <img class="how__photo" src="./images/h3.jpg" alt="photo3" />
        <img class="how__photo2" src="./images/3.jpg" alt="photo3" />
        <h4 class="how__photo--title">Style Your Room</h4>
        <p class="how__photo--text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
      </div>
    </div>
  </div>
</section>
