<section class="join">
  <div class="join__section container">
    <h2 class="join__title">Join Our Mailing List</h2>
    <p class="join__text">
      Sign up to receive inspiration, product updates, and special offers from
      our team.
    </p>
    <div class="join__wrapper--form">
      <input
        class="join__input"
        type="email"
        name="mail"
        id="email"
        placeholder="E-mail"
      />
      <button class="join__btn" type="submit">Submit</button>
    </div>
  </div>
</section>
