<section class="range">
  <div class="range__wrap container">
    <div class="range__info--wrap">
      <h2 class="range__title">Browse The Range</h2>
      <p class="range__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </p>
    </div>
    <div class="range--wrap">
      <div class="range__photo__wrap">
        <img class="range__photo" src="./images/r1.jpg" alt="photo1" />
        <p class="range__photo--text">Dining</p>
      </div>
      <div class="range__photo__wrap">
        <img class="range__photo" src="./images/r2.jpg" alt="photo2" />
        <p class="range__photo--text">Living</p>
      </div>
      <div class="range__photo__wrap">
        <img class="range__photo" src="./images/r3.jpg" alt="photo3" />
        <p class="range__photo--text">Bedroom</p>
      </div>
    </div>
  </div>
</section>
