.beauty {
  background-color: #f2f5ff;
  margin-bottom: 60px;
}
.beuty__wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 874px;

  @media (max-width: 1170px) {
    height: 700px;
  }

  @media (max-width: 910px) {
    height: 500px;
  }

  @media (max-width: 530px) {
    flex-direction: column;
    height: 760px;
  }
}

.beauty__info--wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media (max-width: 530px) {
    align-items: center;
  }
}
.beauty__title {
  font-size: 32px;
  font-weight: 700;
  list-style: 39px;
  color: #333333;
  margin-bottom: 30px;

  @media (max-width: 1170px) {
    font-size: 28px;
    font-weight: 700;
    list-style: 32px;
    margin-right: 30px;
  }

  @media (max-width: 610px) {
    font-size: 20px;
    font-weight: 700;
    list-style: 22px;
    margin-bottom: 20px;

    margin-right: 10px;
  }
}
.beauty__text {
  font-size: 20px;
  font-weight: 400;
  list-style: 39px;
  color: #666666;
  width: 514px;
  margin-right: 62px;
  margin-bottom: 40px;

  @media (max-width: 1170px) {
    width: 450px;
    margin-right: 30px;
    font-size: 18px;
    font-weight: 400;
    list-style: 32px;
  }

  @media (max-width: 910px) {
    width: 300px;
    margin-right: 20px;
    font-size: 18px;
    font-weight: 400;
    list-style: 28px;
  }

  @media (max-width: 610px) {
    width: 260px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 400;
    list-style: 22px;
  }

  @media (max-width: 530px) {
    width: 300px;
    font-size: 14px;
    font-weight: 400;
    list-style: 22px;
    text-align: center;
  }
}
.beauty__link {
  display: inline-block;
  padding: 24px 57px;
  background-color: #054c73;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  width: 228px;

  &:hover {
    background-color: #1684be;
    transition: background-color 0.5s ease;
    color: azure;
  }

  @media (max-width: 610px) {
    padding: 10px 10px;
    text-align: center;
  }

  @media (max-width: 530px) {
    margin-bottom: 30px;
  }
}
.beauty__img--wrap {
  display: flex;
}

.beauty__img {
  border-top-left-radius: 60px;
  z-index: 22;

  @media (max-width: 1170px) {
    height: 550px;
  }

  @media (max-width: 910px) {
    height: 400px;
  }

  @media (max-width: 610px) {
    height: 360px;
  }

  @media (max-width: 530px) {
    height: 400px;
  }
}

.beauty__img2 {
  width: 372px;
  height: 372px;
  border-radius: 50%;
  margin-top: 200px;
  margin-left: -320px;

  @media (max-width: 1170px) {
    display: none;
  }
}
