.header__wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 620px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }
}

.header__logo--wrap {
  padding: 40px 30px 40px 0;

  @media (max-width: 960px) {
    padding: 10px 0;
  }
}
.header__logo {
  color: #054c73;
  font-size: 34px;
  font-weight: 700;
  line-height: 41.45px;

  @media (max-width: 960px) {
    font-size: 28px;
    font-weight: 700;
    line-height: 36px;
  }
}

.header__nav--list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 10px;
  column-gap: 60px;

  @media (max-width: 960px) {
    column-gap: 40px;
  }
  @media (max-width: 460px) {
    column-gap: 12px;
  }
}

.header__nav--item {
  font-size: 18px;
  line-height: 17px;
  font-weight: 600;

  :hover {
    background-color: rgb(119, 160, 160);
    border-radius: 14px;
    transition: background-color 0.5s ease;
    color: azure;
  }

  @media (max-width: 760px) {
    font-size: 14px;
    line-height: 14px;
    font-weight: 600;
  }

  @media (max-width: 460px) {
    font-size: 13px;
    line-height: 14px;
    font-weight: 600;
  }
}

.header__nav--link {
  color: #333333;
  padding: 10px;

  @media (max-width: 960px) {
    padding: 0;
  }
}
