.__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how__info--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.how__title {
  font-size: 32px;
  font-weight: 700;
  list-style: 39px;
  color: #333;
  margin-top: 60px;
  margin-bottom: 30px;

  @media (max-width: 1000px) {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }

  @media (max-width: 530px) {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
}
.how__text {
  font-size: 20px;
  font-weight: 400;
  list-style: 24px;
  color: #666;
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: 530px) {
    font-size: 18px;
    font-weight: 400;
    list-style: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
}

.how--wrap {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 20px;

  @media (max-width: 760px) {
    gap: 6px;
  }

  @media (max-width: 530px) {
    padding-left: 40px;
    padding-right: 40px;
    flex-direction: column;
  }
  @media (max-width: 450px) {
    padding-left: 5px;
    padding-right: 5px;
    flex-direction: column;
  }
}
.how__photo {
  margin-bottom: 30px;

  @media (max-width: 530px) {
    margin-bottom: 10px;
  }
}

.how__photo2 {
  margin-top: -70px;
  border-radius: 50%;

  @media (max-width: 1000px) {
    width: 70px;
    height: 70px;
    margin-top: -60px;
  }

  @media (max-width: 750px) {
    width: 50px;
    height: 50px;
    margin-top: -50px;
  }
}

.how__photo--title {
  font-size: 24px;
  font-weight: 700;
  list-style: 30px;
  color: #333;
  margin-bottom: 15px;

  @media (max-width: 1000px) {
    font-size: 18px;
    font-weight: 700;
    list-style: 20px;
  }

  @media (max-width: 750px) {
    font-size: 14px;
    font-weight: 600;
    list-style: 20px;
  }
}

.how__photo--text {
  font-size: 14px;
  font-weight: 400;
  list-style: 20px;
  color: #666;
  margin-bottom: 190px;

  @media (max-width: 1000px) {
    font-weight: 400;
    list-style: 28px;
    margin-bottom: 100px;
  }

  @media (max-width: 530px) {
    margin-bottom: 20px;
  }
}
