.range {
  border-bottom: 2px solid #d7d6d6;
}

.range__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range__info--wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.range__title {
  font-size: 32px;
  font-weight: 700;
  list-style: 39px;
  color: #333;
  margin-bottom: 30px;

  @media (max-width: 1000px) {
    font-size: 28px;
    font-weight: 700;
    line-height: 32px;
  }

  @media (max-width: 530px) {
    font-size: 22px;
    font-weight: 700;
    line-height: 24px;
  }
}
.range__text {
  font-size: 20px;
  font-weight: 400;
  list-style: 24px;
  color: #666;
  margin-bottom: 50px;

  @media (max-width: 530px) {
    font-size: 18px;
    font-weight: 400;
    list-style: 18px;
    margin-bottom: 20px;
    text-align: center;
  }
}
.range--wrap {
  display: flex;
  text-align: center;
  gap: 20px;

  @media (max-width: 760px) {
    gap: 6px;
  }

  @media (max-width: 530px) {
    flex-direction: column;
    width: 280px;
  }
}
.range__photo {
  margin-bottom: 30px;

  @media (max-width: 530px) {
    margin-bottom: 10px;
  }
}

.range__photo--text {
  font-size: 24px;
  font-weight: 600;
  list-style: 30px;
  color: #333;
  margin-bottom: 60px;

  @media (max-width: 530px) {
    margin-bottom: 20px;
  }
}
